@model List<CoScheduleChallenge.Models.Cocktail>
@{
    ViewBag.Title = "Home Page";
}

<div class="card mt-3 pt-2">
    <div class="card-header">
        <h5>Spice up your summer with refreshing cocktails from our directory.</h5>

        <form class="form-inline">
            <input id="searchWord" class="form-control mr-sm-2" type="search" placeholder="Search by Name" aria-label="Search">
            <button id="search" class="btn btn-outline-success" type="button">Search</button>
        </form>

      
    </div>
    <div id="cocktailResult" class="card-body">
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        let search = document.getElementById("search");
        let random = document.getElementById("random");
        let addToFavs = document.getElementById("addToFav");

		let desc = document.getElementById('description');
        let cocktailImgDiv = document.getElementById("cocktailImage");

        var cocktailData;

        search.addEventListener("click", event => {
            event.preventDefault();
            var searchWord = "margarita";

            var url = '@Url.Action("Find", "Home")';

            fetch('https://www.thecocktaildb.com/api/json/v1/1/search.php?s=' + searchWord)
                .then((response) => { return response.json(); })
                .then((data) => {
                    $('#cocktailResult').load(url, JSON.stringify(data.drinks));

                });
        });

        $(document).ready(function () {
            $(".active").removeClass("active");
            $("#link-home").addClass("active");
            $(".spinner-border").hide();
        });

    </script>
}